# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Blog de zarak
name: zarak
email: contact@zarak.fr
description: >- # this means to ignore newlines until "baseurl:"
  Un blog pour regrouper les trucs intéressants que je trouve ou les trucs sur lesquels je bosse
  On parle de Linux, SRE, DevOps, Système, etc
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://zarak.fr" # the base hostname & protocol for your site, e.g. http://example.com
#twitter_username: jekyllrb
#github_username:  jekyll
repository: "fayak/zarakfr"
logo: "/resources/logo.png"
locale: "fr-FR"

breadcrumbs: true
search: true
# Build settings



theme: minimal-mistakes-jekyll
plugins:
  - jekyll-feed
  - jekyll-feed
  - jekyll-paginate-v2
  - jekyll-sitemap
  - jekyll-gist
  - jemoji
  - jekyll-include-cache
minimal_mistakes_skin: "air"

words_per_minute: 200
# Build settings
markdown: kramdown

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
exclude:
   - .sass-cache/
   - .jekyll-cache/
   - gemfiles/
   - Gemfile
   - Gemfile.lock
   - node_modules/
   - vendor/bundle/
   - vendor/cache/
   - vendor/gems/
   - vendor/ruby/

include:
  - _pages

encoding: "utf-8"
permalink: /:categories/:title/

paginate_path: /page/:num/
pagination:
  enabled: true
  debug: false
  collection: posts
  per_page: 2
  permalink: /page//:num/
  sort_field: 'date'
  sort_reverse: true

timezone: Europe/Paris
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: false
      share: false
      related: true
markdown_ext: "markdown,mkdown,mkdn,mkd,md"
